@import "tailwindcss";

:root {
  --color-primary: #0F1A35;
  --color-secondary: #A8BED2;
  --color-accent: #C75949;
  --color-background: #F5F5F5;
}

@theme inline {
  --color-primary: #0F1A35;
  --color-secondary: #A8BED2;
  --color-accent: #C75949;
  --color-background: #F5F5F5;

  --font-sans: var(--font-manrope), sans-serif;
  --font-heading: var(--font-figtree), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-sans), sans-serif;
}