@import "tailwindcss";

:root {
  --color-primary: #0F1A35;
  --color-secondary: #A8BED2;
  --color-accent: #C75949;
  --color-background: #F5F5F5;

  --font-body: var(--font-manrope);
  --font-headline: var(--font-satoshi);
}

@theme inline {
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-sans: var(--font-body);
  --font-mono: var(--font-headline);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}
